.button {
	font-family: monospace;
	font-size: 4rem;
	background: white;
	border: 0.22rem solid;
	padding: 0.2rem 1rem;
	width: 650;
	margin: 2rem;
	box-shadow: 0.5rem 0.5rem 0;
	height: 87;
}

.button:hover,
.button:focus-visible {
	box-shadow: 0.5rem 0rem 0;
	background: black;
	height: 87.38;
	color: white;
}

input {
	font-family: monospace;
	font-size: 3rem;
	background: white;
	border: 0.22rem solid;
	outline: 0;
	width: 650;
	margin: 1rem;
	padding: 0.2rem 1rem;
	box-shadow: 0.5rem 0.5rem 0;
}

select {
	font-family: monospace;
	font-size: 3rem;
	background: white;
	border: 0.22rem solid;
	width: 650;
	outline: 0;
	margin: 1rem;
	padding: 0.2rem 1rem;
	box-shadow: 0.5rem 0.5rem 0;
}

option {
	font-size: 2rem;
}

option:hover {
	color: white;
	background: #000 !important;
}


*::selection {
	background: black;
	color: white;
}

body {
	font-family: monospace;
}

.main {
	text-align: center;
	font-size: 6rem;
	display: flex;
	font-family: monospace;
	font-family: monospace;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4rem;
	margin-block-start: 0rem;
	padding: 0;
}

table {
	border-collapse: collapse;
	border: 0.22rem solid black;
	padding: 0.2rem 1rem;
	width: 778;
	margin: 2rem;
	box-shadow: 0.5rem 0.5rem 0;
}

tr:hover {
	background: black;
	color: white;
	border: white;
	cursor: pointer;
}

tr {
	font-size: 6rem;
}


h4 {
	display: block;
	width: 811.1;
	text-align: left;
	font-size: 3rem;
	margin-block-start: 0rem;
	margin-block-end: 0em;
	margin-inline-start: 12rem;
	margin-inline-end: 0px;
	font-weight: normal;
}

h1 {
	display: block;
	width: 811.1;
	text-align: left;
	font-size: 3rem;
	margin-block-start: 0rem;
	margin-block-end: 0em;
	margin-inline-start: 12rem;
	margin-inline-end: 0px;
	font-weight: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

nav {
	display: flex;
	height: 60px;
	width: 100%;
	background: #000;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
}

nav .logo {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

nav ul li {
	margin: 0 5px;
}

nav ul li a {
	color: #f2f2f2;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 0px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
	color: #111;
	background: #fff;
}

nav .menu-btn i {
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

